{% extends "layout.html" %}
{% block content %}
<h6 class="px-3 font-weight-normal">Enter passphrase for the requested secret</h6>
<br />
<form onsubmit="getSecret(event)" id="form" class="pt-1 px-3 form-signin">
  <div class="mb-3 form-group">
    <input type="password" name="passphrase" class="form-control" autocomplete="off" placeholder="passphrase"
      rows="6" />
  </div>
  <br />
  <div class="form-group d-grid gap-2">
    <input type="submit" class="btn btn-primary" value="Submit">
  </div>
</form>
{% endblock %}
